/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0px;
}

.header-img {
  top: 0;
  position: absolute;
  height: 600px;
  width: 100%;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.header-items-right {
  z-index: 10;
  display: flex;
  align-items: center;
  margin-right: 20%;
  color: aliceblue;
}

.header-items-right h3 {
  margin-left: 15px;
}

.header-logo {
  color: aliceblue;
  z-index: 10;
  margin-left: 30px;
  align-items: center;
}

.hader-img-text {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: relative;
  margin-top: 7%;
}

.selector {
  display: flex;
  align-items: center;

  z-index: 10;
  position: absolute;
  margin-top: 7%;

  margin-left: 41%;
}

.selector button {
  margin-left: 30px;
  height: 57px;
}

.home-card {
  /* max-width: 400px; */
  display: flex;

  margin-left: auto;
  margin-right: auto;
}

.home-card-flex {
  /* margin-top: 40%; */
  display: flex;
  /* flex-direction: row; */
  /* margin: 0 5%; */
}

.container {
  margin: 0 5%;
}
/* .flex {
  display: flexbox;
} */

.test-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-left: 7%;
  margin-right: auto;
}

.p {
  /* max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgb(62, 226, 103), rgb(221, 207, 221));
  padding: 3px; */
  /* border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgb(62, 206, 57),
      rgba(231, 226, 226, 0)
    )
    1 100%; */
  /* border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%); */
  /* border-image-slice: 1;
  border-width: 3px; */
}

.top {
  margin-top: 20%;
  margin-left: 45%;
  margin-right: auto;
}

.top:hover {
  cursor: pointer;
}

.round-img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.round-img {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  margin-left: 20px;
  align-items: center;
}

.round-img-flex {
  margin-top: 50px;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.utisci {
  margin-left: 43%;
  margin-top: 5%;
}

.star {
  display: flex;
  margin-top: 5%;
  margin-left: 3%;
  align-content: center;
}

.kontakt {
  position: absolute;
  margin-top: 5%;
  margin-left: 3%;
  z-index: 10;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-home {
  margin-top: 53%;
  /* margin-left: 20%;
  margin-right: 20%; */
  /* padding-top: 5%; */
  /* padding-bottom: 2%; */
}

.footer-destinacija {
  /* margin-left: 20%;
  margin-right: 20%; */
}

.footer-items {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footer-items1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 20%;
}

.footer-items2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-right: 20%;
}

.kontakt-agenciju {
  margin-left: 45%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 3%;
}

.background {
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  /* background-image: linear-gradient(to right, #868f96 0%, #596164 100%); */
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply; */
  /* background-color: slategrey; */
}

.background-home {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  /* background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn; */
  /* background-color: #cddcdc;
  background-image: radial-gradient(
      at 50% 100%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  background-blend-mode: screen, overlay; */
}

.background-tab {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.dest-header-info {
  display: flex;
}

.destinacija-cover img {
  height: 500px;
  width: 100%;
}

.destinacija-cover {
  margin-left: 10%;
  margin-right: 10%;
}

.destinacija-card {
  margin-left: 23%;
  margin-right: 23%;
  margin-bottom: 2%;
}

.dest-header-icons {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.wallet {
  margin-top: 2.5%;
  margin-right: 2%;
}

.center-icons {
  justify-content: center;
}

.tab {
  margin-left: 35%;
}

.tab-flex {
  display: flex;
}

/* .tab-img-child {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;

  width: calc(100% * (1 / 4) - 10px - 1px);
} */

.tab-img-child img {
  width: 260px;
  height: 250px;
}

.tab-img-child {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.tab-img {
  display: flex;
  flex-wrap: wrap;
}

.tab-img:hover {
  cursor: pointer;
}

.tab-map {
  margin-left: -8%;
  padding-bottom: 50%;
}

.tab-container {
  margin-left: 10%;
  margin-right: 10%;
}

.tab-naziv {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.tab-naziv-h3 {
  margin-left: 5%;
}

.tab-date {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.tab-date h4 {
  margin-left: 5%;
}

.uracunato-icons {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5%;
}

.tab-uracunato {
  display: flex;

  border-bottom: 1px solid gray;
}

.test {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

.tab-button {
  display: flex;
  justify-content: center;
}

.nav-bar {
  margin-left: 50px;
  display: flex;
}

.nav-btn {
  margin-left: 7px;
  margin-right: 7px;
}

.btn {
  line-height: 35px;
  height: 35px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.tour-dan {
  border-bottom: 1px solid gray;
}

.modal-img img {
  max-width: 1000px;
  max-height: 1000px;
}

.mail-dest {
  margin-left: 48%;
  margin-bottom: 5%;
}

.home-icon:hover {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Abel");

html,
body {
  background: #fceeb5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
} */

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card:hover {
  cursor: pointer;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#de685e, #ee786e);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bca6, #a2ccb6);
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224c36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325c46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325c46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.new-card img {
  width: 455px;
  height: 250px;
}

.new-card-flex {
  display: flex;
  flex-wrap: wrap;
}

.pretrazi {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 900px;
  margin-top: 6px;
}
.pretrazi img {
  height: 100px;
  width: 900px;
  border-radius: 7px;
  margin-top: 6px;
}

.pretrazi-container {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 10%;
}

.pretrazi h2 {
  position: absolute;
  margin-top: 2%;
  align-self: center;
  color: #dfe9f3;
}

.pretrazi-card-container {
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
}

.pretrazi:hover {
  cursor: pointer;
}

/* .pretrazi img {
  height: 200px;
  width: 900px;
} */

.new-card-destinacije {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.oNama-img img {
  height: 500px;
  width: 100%;
}

.oNama-img {
  margin-top: 5%;
}

.oNama-text {
  position: absolute;
  margin-top: 10%;
  margin-left: 35%;
  color: white;
  text-align: center;
}

.oNama-opis {
  margin-left: 30%;
  margin-right: 30%;
}

.oNama-opis h1 {
  text-align: center;
}

.oNama-opis {
  text-align: center;
}

.oNama-slike img {
  height: 500px;
  width: 500px;
}

.oNama-slike {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.tim {
  display: flex;
  margin-left: 20%;
  margin-right: 10%;
}

.tim img {
  height: 300px;
  width: 300px;
  margin-left: 15px;
}

.nas h1 {
  text-align: center;
}

.nas {
  margin-top: 5%;
}

.oNama-kontakt {
  margin-left: 35%;
  margin-bottom: 5%;
}

.kontakt-h1 h1 {
  text-align: center;
}

.kontakt-h1 {
  margin-top: 5%;
}

.oNama-kontakt-flex {
  display: flex;
}

.kontakt-info {
  margin-right: 15px;
}

.kontakt-icon {
  margin-left: 40%;
}
